# Ignore everything by default
*

# Allow specific files and directories
!package.json
!shared/
!frontend/
!backend/
!workers/
!cron/

# Then ignore specific patterns within allowed directories
**/node_modules
**/.next
**/dist
**/.build-cache
**/.env
**/.env.*
**/coverage
**/*.test.*
**/.git
**/.gitignore
**/.vscode
**/README.md
**/jest.config.*
**/*.spec.*
**/*.test.*
**/tsconfig.*
**/.eslintrc.*
**/.prettierrc*
**/*.log
